(
    root: (
        name: "Root",
        transform: (
            translation: (0.0, 0.0),
            rotation: 0.0,
            scale: (1.0, 1.0),
        ),
        components: [],
        children: [
            (
                name: "Sprite",
                transform: (
                    translation: (375.0, 330.0),
                    rotation: -0.3926991,
                    scale: (1.2, 1.2),
                ),
                components: [
                    (
                        kind: "Sprite",
                        fields: [
                            ("texture", Asset("assets/sprite.png")),
                            ("tint", Color((0.2, 0.4, 0.3, 1.0))),
                            ("size", Vec2((160.0, 160.0))),
                        ],
                    ),
                ],
                children: [],
            ),
            (
                name: "Sprite 2",
                transform: (
                    translation: (500.80078, 500.0),
                    rotation: 1.5707964,
                    scale: (1.0, 1.0),
                ),
                components: [
                    (
                        kind: "Sprite",
                        fields: [
                            ("texture", Asset("assets/sprite.png")),
                            ("tint", Color((1.0, 1.0, 1.0, 0.4))),
                            ("size", Vec2((128.0, 128.0))),
                        ],
                    ),
                ],
                children: [],
            ),
            (
                name: "Sprite 3",
                transform: (
                    translation: (370.0, 530.0),
                    rotation: 3.1415927,
                    scale: (1.0, 1.0),
                ),
                components: [
                    (
                        kind: "Sprite",
                        fields: [
                            ("texture", Asset("assets/sprite.png")),
                            ("tint", Color((1.0, 0.0, 0.0, 0.4))),
                            ("size", Vec2((512.0, 512.0))),
                        ],
                    ),
                ],
                children: [],
            ),
        ],
    ),
)