(
    root: (
        name: "Root",
        transform: (
            translation: (0.0, 0.0),
            rotation: 0.0,
            scale: (1.0, 1.0),
        ),
        components: [],
        children: [
            (
                name: "Sprite",
                transform: (
                    translation: (378.90222, 329.2374),
                    rotation: -0.43500948,
                    scale: (1.2868723, 0.95877653),
                ),
                components: [
                    (
                        kind: "Sprite",
                        fields: [
                            ("texture", Asset("assets/sprite.png")),
                            ("tint", Color((1.0, 1.0, 1.0, 1.0))),
                            ("size", Vec2((160.0, 160.0))),
                        ],
                    ),
                ],
                children: [],
            ),
            (
                name: "Sprite 2",
                transform: (
                    translation: (500.0, 500.0),
                    rotation: 1.5707964,
                    scale: (1.0, 1.0),
                ),
                components: [
                    (
                        kind: "Sprite",
                        fields: [
                            ("texture", Asset("assets/sprite.png")),
                            ("tint", Color((1.0, 1.0, 1.0, 0.4))),
                            ("size", Vec2((128.0, 128.0))),
                        ],
                    ),
                ],
                children: [],
            ),
            (
                name: "Sprite 3",
                transform: (
                    translation: (370.884, 532.932),
                    rotation: 0.0,
                    scale: (1.0, 1.0),
                ),
                components: [
                    (
                        kind: "Sprite",
                        fields: [
                            ("texture", Asset("assets/sprite.png")),
                            ("tint", Color((1.0, 0.0, 0.0, 0.4))),
                            ("size", Vec2((128.0, 128.0))),
                        ],
                    ),
                ],
                children: [],
            ),
        ],
    ),
)